<div id="fruit">
	<a data-bind-name="attr:href"></a>
	<p data-bind-description="html"></p>

	<div data-bind-colors="html"></div>


	<div data-bind-name="html"></div>
	<div data-bind-price="html"></div>

	<hr>

	<input type="text" data-bind-name="value">

	<div data-bind-colors='input[name="colors"]|value'>

		<input type="checkbox" name="colors" value="red">red
		<input type="checkbox" name="colors" value="green">green
		<input type="checkbox" name="colors" value="blue">blue
		<input type="checkbox" name="colors" value="yellow">yellow
		<input type="checkbox" name="colors" value="orange">orange

	</div>

	<div data-bind-array=".selector|@string value"></div>
	<div data-bind-array="@string html"></div>
</div>
